body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #FFFFFF;
}

#dealer-cards img  {
  height: 175px;
  width:  125px;
  margin: 1px;
}

#your-cards img  {
  height: 175px;
  width:  125px;
  margin: 1px;
}


#darkmode  {
  cursor: pointer;
  position: absolute;
  right: 10px;
  border: 2px solid #FFFFFF;
  color: #FFA300;
}




#hit  {
  width: 100px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  border: 2px solid #9D2235;
  color: #FFA300;
  background-color: #006272;

}

#hit:hover  {
  width: 100px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  border: 2px solid #9D2235;
  color: #FFA300;
  background-color: #006272;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#stay {
  width: 100px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  border: 2px solid #9D2235;
  color: #FFA300;
  background-color: #006272;
  transition-duration: 0.4s;


}

#stay:hover {
  width: 100px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  border: 2px solid #9D2235;
  color: #FFA300;
  background-color: #006272;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

#reset  {
  width: 100px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  border: 2px solid #9D2235;
  color: #FFA300;
  background-color: #006272;

}

#reset:hover  {
  width: 100px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  border: 2px solid #9D2235;
  color: #FFA300;
  background-color: #006272;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
